<!-- <link rel="stylesheet" href="{{ "/assets/bs/css/bootstrap.min.css" | relative_url }}"> -->
<link rel="stylesheet" href="{{ "/assets/bs/styles.css" | relative_url }}">
<script src="{{ "/assets/bs/js/bootstrap.min.js" | relative_url }}"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

    .container{
        max-width: 700px;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, body {
        font-size: medium;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    body{
        font-family: 'Inter', sans-serif !important;
    }
    .link-primary, .link-secondary{
        text-decoration: none;
    }
</style>