<ul class="nav">
    {%- assign url = page.url -%}
    {%- assign menus = site.data.menus -%}
    {%- if menus %}
    {%- for menu in menus -%}
    {%- if url == menu.url -%}
    <li class="ps-3">
        <a class="{% if site.easy.theme == "dark" %} link-light{% else %} link-primary{% endif %}" href="{{ menu.url }}">{{ menu.title }}</a>
    </li>
    {%- else -%}
    {%- if menu.external -%}
    <li class="ps-3">
        <a class="{% if site.easy.theme == "dark" %} link-light{% else %} link-primary{% endif %}" aria-current="page" href="{{ menu.url }}" target="_blank" rel="noopener">{{ menu.title }} ↗</a>
    </li>
    {%- else -%}
    <li class="ps-3">
        <a class="{% if site.easy.theme == "dark" %} link-light{% else %} link-primary{% endif %}" aria-current="page" href="{{ menu.url }}">{{ menu.title }}</a>
    </li>
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}
</ul>